{% extends 'web/base.html' %}

{% block content %}
<section class="login">
    <div class="container form-box">
        <h2>Iniciar Sesión</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Ingresar</button>
        </form>

        <div class="register-link">
            <p>¿No tenés cuenta?</p>
            <a href="{% url 'web:registro' %}" class="btn-secondary">Registrarme</a>
        </div>
    </div>
</section>
{% endblock %}
